<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syk.exam.mbg.mapper.TbExamMapper">
  <resultMap id="BaseResultMap" type="com.syk.exam.mbg.model.TbExam">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ExamTime" jdbcType="TIMESTAMP" property="examtime" />
    <result column="stuid" jdbcType="BIGINT" property="stuid" />
    <result column="hasSubmit" jdbcType="BIT" property="hassubmit" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ExamTime, stuid, hasSubmit
  </sql>
  <select id="selectByExample" parameterType="com.syk.exam.mbg.model.TbExamExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_exam
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_exam
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_exam
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.syk.exam.mbg.model.TbExamExample">
    delete from tb_exam
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.syk.exam.mbg.model.TbExam">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_exam (ExamTime, stuid, hasSubmit
      )
    values (#{examtime,jdbcType=TIMESTAMP}, #{stuid,jdbcType=BIGINT}, #{hassubmit,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.syk.exam.mbg.model.TbExam">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_exam
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="examtime != null">
        ExamTime,
      </if>
      <if test="stuid != null">
        stuid,
      </if>
      <if test="hassubmit != null">
        hasSubmit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="examtime != null">
        #{examtime,jdbcType=TIMESTAMP},
      </if>
      <if test="stuid != null">
        #{stuid,jdbcType=BIGINT},
      </if>
      <if test="hassubmit != null">
        #{hassubmit,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.syk.exam.mbg.model.TbExamExample" resultType="java.lang.Long">
    select count(*) from tb_exam
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_exam
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.examtime != null">
        ExamTime = #{record.examtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.stuid != null">
        stuid = #{record.stuid,jdbcType=BIGINT},
      </if>
      <if test="record.hassubmit != null">
        hasSubmit = #{record.hassubmit,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_exam
    set id = #{record.id,jdbcType=BIGINT},
      ExamTime = #{record.examtime,jdbcType=TIMESTAMP},
      stuid = #{record.stuid,jdbcType=BIGINT},
      hasSubmit = #{record.hassubmit,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.syk.exam.mbg.model.TbExam">
    update tb_exam
    <set>
      <if test="examtime != null">
        ExamTime = #{examtime,jdbcType=TIMESTAMP},
      </if>
      <if test="stuid != null">
        stuid = #{stuid,jdbcType=BIGINT},
      </if>
      <if test="hassubmit != null">
        hasSubmit = #{hassubmit,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.syk.exam.mbg.model.TbExam">
    update tb_exam
    set ExamTime = #{examtime,jdbcType=TIMESTAMP},
      stuid = #{stuid,jdbcType=BIGINT},
      hasSubmit = #{hassubmit,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>